
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
}
body{
    /* position: relative; */
    /* background-color: rgba(221, 209, 176, 0.24); */

    
}
.showcase{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.video-container{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
  }

.video-container video{
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#header{

    position:fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    height: 90px;
    /* background-color:aqua; */
    padding: 0px 100px;
    background-color:transparent;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}

#logo{

    display:inline-block;
    text-align: left;
}

#header-img{
    
    height: 90px; 
    /* image-resolution:initial; */
    object-fit:cover;
}

#nav-bar{

    float:right;
    text-align: center;
    
}

ul{
    height: 90px;
    list-style: none;
    padding: 30px 15px; 
    display: flex;
    
    
}

.nav-link{

    padding: 0 20px;
    
}

a{
    text-decoration: none;
    /* font-family:; */
    /* font-style:italic; */
    font-size: 18px;
    color: rgba(255, 255, 255, 0.814);
}

a:hover{
    color: #49a146;
}

#home{

    padding: 0px 150px 0 150px;
    display: flex;
    /* background: #000; */
    
    
}





#services{
    position: absolute;
    top: 640px;
    width: 100%;
    height: 100px;
    background-color: black;
}